* {
	margin: 0;
	padding: 0;
}

body
{
    background: #e6e6e6;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
        
}

.heaader_1st{
  background-color: #000;
}

.navbar {
    overflow: hidden;
    width: 700px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    float: right;
    margin-right: 2%;
    border-radius: 0px 0px 20px 20px;
    font-size: 24px;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: #707070;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  

  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }

  .slider{
    width: 100%;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 0%;
  }
  
  .slides{
    width: 500%;
    height: 700px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }

  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 700px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 660px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }

  .body_2nd_part{
    color: #707070;
    font-size: 30px;
    align-content: center;
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    }

  .page_02{
    display: flex;
    width: 40%;
    height: 350px;
    flex-direction: column;
    align-items:flex-end;
  }

  .two_columns{
    display: flex;
  }

  .search_button{
    background: #fff;
    border-radius: 50px;
    width: 400px;
    margin-top: 2%;
  }

  .btn{
    font-size: 30px;
    margin-top: 2%;
    width: 100px;
    background: #fff;
    border-radius: 30px;
    color: #707070;
    }

    .body_3rd_part{
      margin-top: 20%;
      color: #707070;
      font-size: 30px;
      align-content: center;
      display: flex;
      /* position: absolute; */
      flex-direction: column;
      }

      .page_03{
        width: fit-content;

      }

      .title_card{
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 2px 5px #ccc;
        padding: 10px;
        height: 275px;
        width: 600px;
        margin: 1%;
        margin-left: 2%;
        float: left
      }


/* -------------------------------------------signup page---------------------------------------- */
  
  .loginForm{
    flex: auto;
    background: #f8f8f8;
    width: 60%;
    height: 100%;
    position: absolute;
    margin-left: 40%;
    border-radius: 20px 0 0 20px;
    text-align: center;
    
  }

  .form{
    color: #555;
    padding: 10px;
    width: 500px;
    height: fit-content;
    margin: 16px auto;
    font-size: 20px;
    text-align: left;
    margin-bottom: 0px;

  }
  .form label{
    margin-left: 60px;
  }

  .line{
    background-color: #bbb;
    height: 2px;
    width: 400px;
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 40px;
  }

  .signin{
    justify-content: baseline;
    margin-bottom: 30px;
  }

  .form-box{
    overflow: hidden;
  }
  /* .button-box{
    margin-top: 3%;
    margin-left: 25%;
    width: 50%;
    position: relative;
    box-shadow: 0 0 20px 9px #707070;
    border-radius: 30px;
  }
  .toggle-btn{
    font-size: 24px;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
  }
  
  .btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: #40D3DC;
    border-radius: 30px;
    transition: .5s;
    left: 0%;
  } */
  .input-form{
    position: absolute;
  }

  #register{
    left: 20%;
  }
  #login{
    left: 150%;
  }

